/*----------------Main Body---------------*/
body {
    font-family: 'Varela Round', sans-serif;
}

/*----------------General Styles---------------*/

.padding-none {
    padding: 0 0 0 0;
}

.margin-none {
    margin: 0 0 0 0;
}

.margin-tb-none {
    margin-top: none;
    margin-bottom: none;
}

/*----------------Containers---------------*/
.container-logo-nav {
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 20px;
    min-height: 145px;
    background-color: #EDE9D0;
}

.container-logo-outer {
    padding-top: 5px;
}
.container-logo {
    background-color: #EDE9D0;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.container-logo:hover {
    background-color: rgb(0,0,0,0.1)
}

.container-fluid {
    background-color: #EDE9D0;
}

.container-heading {
    background-color: #EDE9D0;
}

.container-image {
    background-color: #EDE9D0;
}

.container-blockdivider {
    background-color: #EDE9D0;
}

.container-carousel {
    background-color: #EDE9D0;
}

.container-footer {
    padding: 0 0 0 0;
}

.container-footer-links {
    padding-top: 10px;
    padding-bottom: 1px;
    background-color: #EDE9D0;
}

.container-copyright {
    background-color: #EDE9D0;
    padding-bottom: 0;
    margin-bottom: 0;
}

/*----------------Navigation Links---------------*/

.nav-item a {
    text-transform: uppercase;
    color: #2F4858;
    font-size: large;
    padding: 0 0 0 0;
}

.nav-item a:hover {
    color: #C93C1C;
}

.active a {
    color: #C93C1C;
}

/*----------------Headings---------------*/
.heading-gallery {
    text-transform: uppercase;
    text-align: center;
    color: #2F4858;
    font-size: large; 
    margin-top: 5px;
    margin-bottom: -13px;
}

/*-------------------Block Dividers----------------*/
.blockdivider {
    text-align: center;
    border-top: 2px solid #C93C1C;
    border-radius: 1px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.blockdivider-short {
    width: 50px;
}

.blockdivider-long {
    width: 80%;
}

.blockdivider-spacing-top {
    margin-top: 10px;    
}

.blockdivider-spacing-extra-top {
    margin-top: 30px;    
}

.blockdivider-spacing-bottom {
    margin-bottom: 10px;    
}

/*----------------Home Page Images--------------*/
.container-image img {
    border-radius: 5px;
}
.container-image img:hover {
    opacity: 0.7;
}

/*----------------Gallery Carousel and Controls---------------*/
.carousel-item img {
    height: 500px;
    border-radius: 5px;
}

.carousel-item img:hover {
    opacity: 0.7;
}

#carousel-control-prev-3item {
    left: 0;
    margin-left: -5%;
    padding-bottom: 4px;
    align-items: flex-end;
}

#carousel-control-next-3item {
    right: 0;
    margin-right: -5%;
    padding-bottom: 4px;
    align-items: flex-end;
}

#carousel-control-prev-2item {
    left: 0;
    margin-left: -4%;
    padding-bottom: 4px;
    align-items: flex-end;
}

#carousel-control-next-2item {
    right: 0;
    margin-right: -4%;
    padding-bottom: 4px;
    align-items: flex-end;
}

#carousel-control-prev-1item {
    left: 0;
    margin-left: 0;
    padding-bottom:4px;
    align-items: flex-end;
}

#carousel-control-next-1item {
    right: 0;
    margin-right: 0;
    padding-bottom: 4px;
    align-items: flex-end;
}

.carousel-control-prev i, .carousel-control-next i {
    font-size: 35px;
    color: #FF7D54;
}

.carousel-indicators {
    bottom: -39px;
}

.carousel-indicators li {
    background-color: #FF7D54;
    height: 3px;
}

.carousel-indicators .active {
    background-color: #C93C1C;
    height: 4px;
}

.fa-chevron-circle-left {
     text-shadow: 0 0 5px #2F4858;
}

.fa-chevron-circle-right {
     text-shadow: 0 0 5px #2F4858;
}

/*----------------Modal image popup---------------*/
.modal-title {
    text-align: left;
    color: black;
    font-size: medium; 
}

/*----------------Footer---------------*/

.container-logo-comicart img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 150px;
}

.container-logo-comicart img:hover {
    background-color: rgb(0,0,0,0.05);
}

#copyright-notice {
    font-size: x-small;
    color: #2F4858;
    text-align: center;
    padding: 5px 5px 5px 5px;
}
