/*-- HTML--*/
html {
    font-size: 100%;
}

/*-- Body--*/
body {
    font-family: 'Varela Round', sans-serif;
    font-size: 1rem;
}

/*--General Styles--*/

.padding-none {
    padding: 0 0 0 0;
}

.margin-none {
    margin: 0 0 0 0;
}

.margin-tb-none {
    margin-top: none;
    margin-bottom: none;
}

/*--Containers--*/
.container-logo-nav {
    padding-top: 0.9375rem;
    padding-bottom: 0.3125rem;
    padding-left: 1.25rem;
    min-height: 9.0625rem;
    background-color: #222831;
}

.container-logo-outer {
    padding-top: .3125rem;
}
.container-logo {
    background-color: #fafafa;
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 3.125rem;
}

.container-logo img {
    width: 6.25rem;
    height: 6.25rem;
}

.container-logo:hover {
    background-color: rgb(255,255,255,0.7);
}

.container-fluid {
    background-color: #222831;
}

.container-heading {
    background-color: #222831;
}

.container-heading-about {
    margin-top: 0.4375rem;
    margin-bottom: -0.25rem;
}

.container-heading-illustrations {
    margin-top: 0.4375rem;
    margin-bottom: -0.25rem;
}

.container-heading-caricatures {
    margin-top: 0.4375rem;
    margin-bottom: -0.75rem;
}

.container-text-about {
    padding: 1.25rem 2.1875rem 0 2.1875rem;
}

.container-button-contact {
    padding: 0.3125rem 2.1875rem 0.3125rem 2.1875rem;
}

.container-contact-form {
    padding: 1.25rem 2.1875rem 0 2.1875rem;
}

.container-image-about {
    padding: 1.5625rem 0 1.5625rem 0;
    text-align: center;
}

.container-about {
    background-color: #222831;
}

.container-image {
    background-color: #222831;
}

.container-blockdivider {
    background-color: #222831;
}

.container-carousel {
    background-color: #222831;
}

.container-footer {
    padding-top: 0;
    padding-bottom: 0;
}

.container-footer-links {
    padding-top: 0.625rem;
    padding-bottom: 1px;
    background-color: #222831;
}

.container-copyright {
    background-color: #222831;
    padding-bottom: 0;
    margin-bottom: 0;
}

/*--Navigation Links--*/

.nav-item a {
    text-transform: uppercase;
    color: #9A9793;
    font-size: 1.125rem;
    padding: 0 0 0 0;
    margin-bottom: -2px;
}

.nav-item a:hover {
    color: #fafafa;
}

.nav-item a:active,
.nav-item a:focus,
.nav-item a:visited {
    outline: none;
}

.active a {
    color: #fafafa;
}

/*--Headings--*/

.heading-gallery {
    text-transform: uppercase;
    text-align: center;
    color: #fafafa;
    font-size: 1.125rem; 
}

.heading-about {
    text-transform: uppercase;
    text-align: center;
    color: #fafafa;
    font-size: 1.125rem; 
}

/*--Text--*/
.text-about {
    color: #fafafa; 
    line-height: normal;
}

.text-about a {
    color: #fafafa; 
}

.text-about a strong {
    color: #d65a31;
}


/*--Block Dividers--*/
.blockdivider {
    text-align: center;
    border-top: 2px solid #404040;
    border-radius: 1px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.blockdivider-short {
    width: 3.125rem;
}

.blockdivider-long {
    width: 80%;
}

.blockdivider-spacing-top {
    margin-top: 0.625rem;    
}

.blockdivider-spacing-extra-top {
    margin-top: 1.875rem;    
}

.blockdivider-spacing-bottom {
    margin-bottom: 0.625rem;    
}

/*----------------Home Page and Gallery Images--------------*/
.container-image img {
    background-size: cover;
    border: 2px solid #404040;
}
.container-image img:hover {
    opacity: 0.7;
    border: none;
}

/*----------------About Page Images--------------*/

.container-image-about img {
    background-color: #9A9793;
    border: 2px solid #9A9793;
    max-width: 220px;
}

.container-image-about
img:hover {
    opacity: 0.7;
    border: none;
}

.container-image-about a:active,
.container-image-about a:focus,
.container-image-about a:visited {
    outline: none;
}

#about-image:active,
#about-image:focus,
#about-image:visited {
    outline: none;
}

/*----------------About Page Links--------------*/

.container-text-about p a:hover,
.container-text-about p a:active,
.container-text-about p a:focus,
.container-text-about p a:visited {
    outline: none;
    text-decoration: underline;
    color: #d65a31;
}

/*----------------Contact Page--------------*/
.form-contact-field {
    background-color: #fafafa;
}

/*----------------Fade-In Animation--------------*/

.fade-in {
    animation: fade-in 2s;
}

@keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*----------------Gallery Carousel and Controls---------------*/
.carousel-item img {
    height: 550px;
    border: 2px solid #404040;
}

.carousel-item img:hover {
    opacity: 0.7;
    border: none;
}

#carousel-control-prev-3item {
    left: 0;
    margin-left: -5%;
    padding-bottom: 4px;
    align-items: flex-end;
}

#carousel-control-next-3item {
    right: 0;
    margin-right: -5%;
    padding-bottom: 4px;
    align-items: flex-end;
}

#carousel-control-prev-2item {
    left: 0;
    margin-left: -4%;
    padding-bottom: 4px;
    align-items: flex-end;
}

#carousel-control-next-2item {
    right: 0;
    margin-right: -4%;
    padding-bottom: 4px;
    align-items: flex-end;
}

#carousel-control-prev-1item {
    left: 0;
    margin-left: 0;
    padding-bottom: 4px;
    align-items: flex-end;
}

#carousel-control-next-1item {
    right: 0;
    margin-right: 0;
    padding-bottom: 4px;
    align-items: flex-end;
}

.carousel-control-prev i,
.carousel-control-next i {
    font-size: 2.1875rem;
    color: #fafafa;
}

.carousel-indicators {
    bottom: -2.9375rem;
}

.carousel-indicators li {
    background-color: #fafafa;
    height: 0.625rem;
    width: 0.625rem;
    border-radius: 5%;
}

.carousel-indicators .active {
    background-color: white;
    height: 0.75rem;
    width: 0.75rem;
}

.fa-chevron-circle-left {
     text-shadow: 0 0 5px #2F4858;
}

.fa-chevron-circle-right {
     text-shadow: 0 0 5px #2F4858;
}

/*----------------Modal image popup---------------*/
.modal-title {
    text-align: left;
    color: #222831;
}

/*----------------Footer---------------*/

.container-logo-comicart img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 7.5rem;
}

.container-logo-comicart img:hover {
    background-color: rgb(100,100,100,0.3);
}

#copyright-notice {
    font-size: 0.625rem;
    color: #9A9793;
    text-align: center;
    padding: 0.3125rem 0.3125rem 0.3125rem 0.3125rem;
}

/*--Additional image media query to re-size gallery images for extra small devices--*/
@media (max-width: 575.98px) {
   .carousel-item img {
    height: 400px;
   }
}

/*--Additional image media query to re-size gallery images for extra large devices--*/
@media (min-width: 1200px) {
   .carousel-item img {
    height: 600px;
   }
}

/*--Additional image media query to re-size gallery images for widescreen devices--*/
@media (min-width: 2000px) {
   .carousel-item img {
    height: 1000px;
   }
}
